* {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #7839F3;
  --ijo-color: #31B380;
  --hitam-color: #211B3D;
  ---hitam-desc-color: #5B5575;
  --semibold-fw: 600;
  --regular-fw:400;
  --bg-color-secondary: #F5EFFF;
  --border-color:#ECE3FE;
  --bg-color-footer: #F7F7FB;
}

.navbar-laracamp nav .container-navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-laracamp nav .container-navbar .navbar-brand {
  margin-right: 51px;
}
.navbar-laracamp nav .container-navbar .collapse ul .nav-item {
  margin-right: 30px;
}
.navbar-laracamp nav .container-navbar .collapse ul .nav-item .nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #211B3D;
}
.navbar-laracamp nav .container-navbar .collapse ul .nav-item :hover {
  color: #7839F3;
}
.navbar-laracamp nav .container-navbar .collapse ul .nav-item .active {
  color: #7839F3;
}
.navbar-laracamp nav .container-navbar .collapse ul .active {
  color: #7839F3;
}
.navbar-laracamp nav .container-navbar .collapse .d-flex .btn-sign-in {
  background-color: #F5EFFF;
  border-color: #ECE3FE;
  color: #7839F3;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  font-size: 16px;
}
.navbar-laracamp nav .container-navbar .collapse .d-flex .btn-success {
  background-color: #7839F3;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  border-color: #7839F3;
}
.navbar-laracamp nav .container-navbar .collapse .welcome-user span {
  margin-right: 10px;
}
.navbar-laracamp nav .container-navbar .collapse .welcome-user .img-user {
  height: 50px;
  width: 50;
}

.hero-section {
  margin-top: 80px;
}
.hero-section .row .content-hero span {
  font-weight: 600;
  font-size: 16px;
  color: #31B380;
  margin-bottom: 20px;
}
.hero-section .row .content-hero .hero-title {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}
.hero-section .row .content-hero .hero-title span {
  color: var(--main-color);
  font-size: 42px;
  font-weight: 600;
}
.hero-section .row .content-hero .desc {
  font-weight: 400;
  font-size: 16px;
  color: #5B5575;
  margin-bottom: 30px;
}
.hero-section .row .content-hero .btn-get-started {
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  border-color: var(--main-color);
  width: 150px;
}
@media (max-width: 912px) {
  .hero-section .row .hero-image {
    margin-top: 30px;
  }
}

.support {
  margin-top: 60px;
  margin-bottom: 80px;
}

.benefits {
  margin-bottom: 100px;
}
.benefits .title-benefits span {
  font-weight: 600;
  font-size: 16px;
  color: var(--ijo-color);
}
.benefits .title-benefits .sub-title {
  font-weight: 600;
  font-size: 30px;
  margin-top: 8px;
}
.benefits .varian-benefits {
  margin-top: 70px;
}
.benefits .varian-benefits .row .varian img {
  margin-bottom: 20px;
}
.benefits .varian-benefits .row .varian span {
  font-weight: 500;
  font-size: 20px;
  color: var(--hitam-color);
}
.benefits .varian-benefits .row .varian .varian-content {
  margin-top: 10px;
}

.career .row .img-career {
  padding-right: 120px;
}
@media (max-width: 912px) {
  .career .row .img-career {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
.career .row .content-career .desc-career span {
  font-weight: var(--semibold-fw);
  font-size: 16px;
  color: var(--ijo-color);
}
.career .row .content-career .desc-career .title {
  margin-top: 8px;
  font-weight: var(--semibold-fw);
  font-size: 30px;
  color: var(--hitam-color);
}
.career .row .content-career .desc-career .desc {
  font-weight: var(--regular-fw);
  font-size: 16px;
  color: var(---hitam-desc-color);
  margin-top: 30px;
  margin-bottom: 30px;
}
.career .row .content-career .desc-career .btn-career {
  background-color: var(--bg-color-secondary);
  background-color: var(--border-color);
  color: var(--main-color);
  font-weight: var(--medium-fw);
  border-radius: 50px;
  width: 150px;
  font-size: 16px;
}

.investment {
  margin-bottom: 70px;
  background-color: #4D1DAB;
  padding-bottom: 70px;
  padding-top: 70px;
  height: 540px;
}
.investment .container .row .invest-content .desc-content span {
  font-weight: var(--semibold-fw);
  font-size: 16px;
  color: var(--ijo-color);
}
.investment .container .row .invest-content .desc-content .title {
  margin-top: 8px;
  font-weight: var(--semibold-fw);
  font-size: 30px;
  color: white;
}
.investment .container .row .invest-content .desc-content .desc {
  color: #CBB0FF;
  font-weight: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.investment .container .row .invest-content .desc-content .btn-silabus {
  color: white;
  width: 160px;
  background-color: var(--ijo-color);
  border-color: var(--ijo-color);
  border-radius: 50px;
  font-weight: var(--medium-fw);
  font-size: 16px;
}
.investment .container .row .kartu {
  display: flex;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.investment .container .row .kartu .card {
  border-radius: 40px;
}
.investment .container .row .kartu .card .card-body {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.investment .container .row .kartu .card .card-body span {
  font-weight: var(--semibold-fw);
  font-size: 16px;
  color: var(--ijo-color);
}
.investment .container .row .kartu .card .card-body .card-title {
  font-weight: var(--semibold-fw);
  font-size: 42px;
  color: var(--hitam-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.investment .container .row .kartu .card .card-body .lis-data .list-img {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}
.investment .container .row .kartu .card .card-body .lis-data p {
  font-weight: var(--medium-fw);
  font-size: 16px;
  color: var(--hitam-color);
}
.investment .container .row .kartu .card .card-body .btn-primary {
  width: 270px;
  background-color: var(--main-color);
  font-weight: var(--medium-fw);
  font-size: 16px;
  color: white;
  border-color: var(--main-color);
  border-radius: 47px;
  margin-top: 18px;
}
.investment .container .row .kartu .card .card-body .btn-secondary {
  width: 270px;
  background-color: var(--bg-color-secondary);
  font-weight: var(--medium-fw);
  font-size: 16px;
  color: var(--main-color);
  border-color: var(--border-color);
  border-radius: 47px;
}

.support2 {
  margin-top: 270px;
  margin-bottom: 80px;
}

@media (max-width: 912px) {
  .support {
    display: none;
  }
}
.footer-section {
  background-color: var(--bg-color-footer);
  padding-bottom: 70px;
}
.footer-section .header-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-section .header-footer span {
  font-weight: var(--semibold-fw);
  font-size: 16px;
  color: var(--ijo-color);
}
.footer-section .header-footer h3 {
  font-weight: var(--semibold-fw);
  font-size: 30px;
  color: var(--hitam-color);
}
.footer-section .student .row .kartu .card {
  border-radius: 13px;
  height: 294px;
  border: none;
}
.footer-section .student .row .kartu .card .card-body {
  margin: 10px;
}
.footer-section .student .row .kartu .card .card-body .card-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-section .student .row .kartu .card .card-body .user-student .user-img {
  margin-right: 16px;
  float: left;
  width: 56px;
  height: 56px;
}
.footer-section .student .row .kartu .card .card-body .user-student .nama span {
  font-weight: var(--medium-fw);
  font-size: 18px;
  color: var(--hitam-color);
}
@media (max-width: 912px) {
  .footer-section .student .row .kartu {
    margin-top: 30px;
    display: flex;
    justify-content: center !important;
  }
}
.footer-section .copy {
  margin-top: 70px;
  color: var(--hitam-color);
  font-weight: var(--regular-fw);
  font-size: 16px;
}

@media (max-width: 912px) {
  .footer-section {
    margin-top: 1000px;
  }
}/*# sourceMappingURL=style.css.map */